<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">



<bean name = "dept" class ="com.example.xmlProject.model.Department">
<property name = "deptName" value ="banking" ></property>
<property name = "manager" value ="thanos" ></property>
</bean>
	<bean name = "hello" class = "com.example.xmlProject.model.Hello" autowire ="constructor">
<!-- 	<property name="name" value ="Lavanya"></property> -->
	</bean>
	</beans>